* {
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #404040;
  color: #f5f5f5;
  font-family: "Nunito", sans-serif;
}

img,
picture,
canvas,
svg,
video {
  display: block;
  max-width: 100%;
}

.header {
  margin-top: 3rem;
  text-align: center;
}

.header__heading {
  margin-bottom: 2rem;
  font-size: 3rem;
}

header p {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  font-style: italic;
}

.weapons__images {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  gap: 3rem;
}

.weapons__img {
  width: 12rem;
  border-radius: 50%;
  box-shadow: -0.3em 0.3em 0.2em #fff;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.weapons__img:hover {
  transform: scale(1.05);
}
